<ion-header>
  <ion-toolbar>
    <ion-title >Visitors Log List</ion-title>
    <ion-buttons slot="end">
      <ion-button expand="block" color="secondary" shape="round" fill="outline"
       routerLink="news" >News API</ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>

   <ion-list *ngFor="let item of items">
         <ion-card>
           <ion-card-content>
             Name: {{item.name}}<br>
             Email: {{item.email}}<br>
             Date: {{item.date}}<br>
             Type of Visit : {{item.type_of_visit}}
           </ion-card-content>
         </ion-card>
    </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="home">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
