<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="logslist"></ion-back-button>
    </ion-buttons>
    <ion-title>Updated News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let newsUp of latestNews">
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="newsUp.urlToImage">
      </ion-avatar>
      <ion-label class="ion-text-wrap"> {{newsUp.title}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
