<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="logslist"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Vistitors
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #visitForm="ngForm" name="visitForm" (ngSubmit)="addItem(visitForm)">
  <ion-item>
    <ion-label position="floating" >name</ion-label>
    <ion-input required type="text" name="name" id="name" #name="ngModel" [(ngModel)]="newItem.name"></ion-input>
  </ion-item>
  <div *ngIf="name.invalid && submitted">
    <div *ngIf="name.errors.required">
     <P style="color: red;">field is required</P> </div>
  </div>
  <ion-item>
    <ion-label position="floating" >email</ion-label>
    <ion-input required type="email" name="email" id="email" #email="ngModel" [(ngModel)]="newItem.email"
    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"></ion-input>
  </ion-item>
  <div *ngIf="email.invalid && submitted">
    <div *ngIf="email.errors.required">
     <P style="color: red;">field is required</P> </div>
     <div *ngIf="email.errors.pattern"> 
       <p style="color: red;"> enter valid email</p>
  </div>
  </div>
   <ion-list>
    <ion-radio-group (ionChange)="radioGroupChange($event)" required
    name="tvisit" id="tvisit" #tvisit="ngModel" [(ngModel)]="newItem.type_of_visit">
      <ion-list-header>
        <ion-label>Type of Visit</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Meeting</ion-label>
        <ion-radio slot="start" value="meeting"></ion-radio>
      </ion-item>
       <ion-item>
        <ion-label>Delivery</ion-label>
        <ion-radio slot="start" value="delivery"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Personal</ion-label>
        <ion-radio slot="start" value="personal"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <div *ngIf="tvisit.invalid && submitted">
    <div *ngIf="tvisit.errors.required">
     <P style="color: red;">field is required</P> </div>
  </div>
  <ion-item>
    <ion-label position="floating">person to visit</ion-label>
    <ion-input  required name="pvisit" id="pvisit" #pvisit="ngModel" type="text" [(ngModel)]="newItem.person_to_visit"></ion-input>
  </ion-item>
  <div *ngIf="pvisit.invalid && submitted">
    <div *ngIf="pvisit.errors.required">
     <P style="color: red;">field is required</P> </div>
  </div>
  <ion-item>
    <ion-label position="floating" >date</ion-label>
    <ion-input name="date" id="date" #date="ngModel" [(ngModel)]="newItem.date" disabled></ion-input>
  </ion-item>
   <ion-item>
    <ion-label position="floating" >entry time</ion-label>
    <ion-input required type="time" name="entime" id="entime" #entime="ngModel" [(ngModel)]="newItem.entry_time"></ion-input>
  </ion-item>
  <div *ngIf="entime.invalid && submitted">
    <div *ngIf="entime.errors.required">
     <P style="color: red;">field is required</P> </div>
  </div>
  <ion-item>
    <ion-label position="floating" >exit time</ion-label>
    <ion-input required type="time" name="etime" id="etime" #etime="ngModel" [(ngModel)]="newItem.exit_time"></ion-input>
  </ion-item>
  <div *ngIf="etime.invalid && submitted">
    <div *ngIf="etime.errors.required">
     <P style="color: red;">field is required</P> </div>
  </div>
  
  <ion-button  type="submit" >Add</ion-button>
</form>
 
</ion-content>
